.DS_Store
dist
__pycache__
*.pyc
.pytest_cache
.idea
tmp
node_modules
output.json
.alfredversionchecked
thumbs
src/main/certifi
src/main/workflow
src/main/chardet
src/main/google
src/main/idna
src/main/oauth2_client
src/main/requests
src/main/thumbs
src/main/urlib3
src/main/websocket
src/main/workflow
src/main/yaml
