<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fouadhamdi.alfred.cloudfoundry</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>42365D29-65A6-42DC-A4D5-3BBCB38D3328</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C69DAE3-F0EA-48C7-9694-99E8646BB045</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BCBD803-965B-4B2F-8A98-7C06334EB104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5BF2EE7C-892B-423F-A2E8-ACA086E21B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42365D29-65A6-42DC-A4D5-3BBCB38D3328</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60E2AC0A-A0B8-4206-B68A-2E37D9C6CFC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECCA2128-2274-4BA9-9AEA-039B745C1246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D9AD98E-CF0F-4614-B066-BF03A36441F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ECCA2128-2274-4BA9-9AEA-039B745C1246</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9620BA59-2F89-4878-871E-5996D0DDCCE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D317EDA4-2593-4631-96FD-817679A480A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>987A45F6-FAC3-4274-B1E1-3037CDF5ED16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1E8AC74-799C-4AFE-9216-5FA540BCD4BB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>987A45F6-FAC3-4274-B1E1-3037CDF5ED16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2BD661E-E3F5-4410-8503-98CB90FF4E7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BCBD803-965B-4B2F-8A98-7C06334EB104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B8233E5D-9805-4534-8079-6E9EBBACAED7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA71D43B-319D-4566-AFF3-D77BC5E07751</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BCBD803-965B-4B2F-8A98-7C06334EB104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC444CDF-BDFB-4C6E-8FBD-9B9C32586B71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC7B7363-7280-48C6-A512-D7C9F974029F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC444CDF-BDFB-4C6E-8FBD-9B9C32586B71</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CFE038E0-B242-45F4-9A3E-DBDF15E7101A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B8233E5D-9805-4534-8079-6E9EBBACAED7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D317EDA4-2593-4631-96FD-817679A480A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D3B9E842-79C9-46B2-A62E-948CE83722D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C69DAE3-F0EA-48C7-9694-99E8646BB045</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ECCA2128-2274-4BA9-9AEA-039B745C1246</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Fouad Hamdi</string>
	<key>description</key>
	<string>Cloud Foundry Workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Cloud Foundry</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-buildpacks</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A1E8AC74-799C-4AFE-9216-5FA540BCD4BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>routes</string>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>42365D29-65A6-42DC-A4D5-3BBCB38D3328</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>buildpacks</string>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>987A45F6-FAC3-4274-B1E1-3037CDF5ED16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-services</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CC7B7363-7280-48C6-A512-D7C9F974029F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-routes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5BF2EE7C-892B-423F-A2E8-ACA086E21B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-apps</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CFE038E0-B242-45F4-9A3E-DBDF15E7101A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>services</string>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CC444CDF-BDFB-4C6E-8FBD-9B9C32586B71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>apps</string>
					<key>output</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B8233E5D-9805-4534-8079-6E9EBBACAED7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python cf.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C0A1EE74-61E3-4827-BC3B-00F976B47E72</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Cloud Foundry Applications","arg":"apps"},{"title":"Cloud Foundry Services","arg":"services"},{"title":"Cloud Foundry Routes","arg":"routes"},{"title":"Cloud Foundry Domains","arg":"domains"},{"title":"Cloud Foundry Marketplace","arg":"marketplace"},{"title":"Cloud Foundry Plugins","arg":"plugins"}]</string>
				<key>keyword</key>
				<string>cf</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Cloud Foundry</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>D3B9E842-79C9-46B2-A62E-948CE83722D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4C69DAE3-F0EA-48C7-9694-99E8646BB045</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>set-endpoint</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ECCA2128-2274-4BA9-9AEA-039B745C1246</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>cleanup</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D317EDA4-2593-4631-96FD-817679A480A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cf setendpoint</string>
				<key>subtext</key>
				<string>Type the endpoint value</string>
				<key>text</key>
				<string>Configure Cloud Foundry Endpoint</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6D9AD98E-CF0F-4614-B066-BF03A36441F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-setendpoint</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>60E2AC0A-A0B8-4206-B68A-2E37D9C6CFC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-cleanup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>9620BA59-2F89-4878-871E-5996D0DDCCE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>command</key>
					<string>set-credentials</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5BCBD803-965B-4B2F-8A98-7C06334EB104</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cf setcredentials</string>
				<key>subtext</key>
				<string>Type the login and the password separated with a space</string>
				<key>text</key>
				<string>Configure Cloud Foundry Credentials</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B2BD661E-E3F5-4410-8503-98CB90FF4E7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>cf-setcredentials</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>CA71D43B-319D-4566-AFF3-D77BC5E07751</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>42365D29-65A6-42DC-A4D5-3BBCB38D3328</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4C69DAE3-F0EA-48C7-9694-99E8646BB045</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>5BCBD803-965B-4B2F-8A98-7C06334EB104</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>820</integer>
		</dict>
		<key>5BF2EE7C-892B-423F-A2E8-ACA086E21B1A</key>
		<dict>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>60E2AC0A-A0B8-4206-B68A-2E37D9C6CFC9</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>6D9AD98E-CF0F-4614-B066-BF03A36441F1</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>650</integer>
		</dict>
		<key>9620BA59-2F89-4878-871E-5996D0DDCCE9</key>
		<dict>
			<key>xpos</key>
			<integer>630</integer>
			<key>ypos</key>
			<integer>790</integer>
		</dict>
		<key>987A45F6-FAC3-4274-B1E1-3037CDF5ED16</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A1E8AC74-799C-4AFE-9216-5FA540BCD4BB</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>B2BD661E-E3F5-4410-8503-98CB90FF4E7A</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>910</integer>
		</dict>
		<key>B8233E5D-9805-4534-8079-6E9EBBACAED7</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>C0A1EE74-61E3-4827-BC3B-00F976B47E72</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>CA71D43B-319D-4566-AFF3-D77BC5E07751</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>1030</integer>
		</dict>
		<key>CC444CDF-BDFB-4C6E-8FBD-9B9C32586B71</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>CC7B7363-7280-48C6-A512-D7C9F974029F</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>CFE038E0-B242-45F4-9A3E-DBDF15E7101A</key>
		<dict>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>D317EDA4-2593-4631-96FD-817679A480A3</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>D3B9E842-79C9-46B2-A62E-948CE83722D0</key>
		<dict>
			<key>xpos</key>
			<integer>130</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>ECCA2128-2274-4BA9-9AEA-039B745C1246</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
